rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /events/{documents=**} {
      allow read, write: if true;
    }
    match /people/{documents=**} {
      allow read, write: if true;
    }
  }
}
